#board { 
	width: 1000px;
	margin: 100px auto;
}
#board li{ 
	width: 100%;
	background-color: #f9f6ed;
	border-top: 3px solid #f8b07d;
	border-left: 3px solid #f8b07d;
	border-right: 3px solid #f8b07d;
}
#board li:nth-child(4){
	border-bottom: 3px solid #f8b07d;
}
#board li a{ 
	display: block;
	padding: 10px 20px;
	font-size: 20px;
	background: url(../images/qna_icon1.png) no-repeat 95% 50%;
}
#board li:hover a{  
    font-family: 'Cafe24Ssurround';
	background-color: #f8b07d;
	color: #f9f6ed;
}
#board li.on a{
    font-family: 'Cafe24Ssurround';
	background-color: #f8b07d;
	color: #f9f6ed;
	background: #f8b07d url(../images/qna_icon2.png) no-repeat 95% 50%;
}
#board li div{ 
	width: 100%; 
	padding: 10px 20px;
	display: none;
}

